/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

/*jccanizal styles*/

.align-center{
  text-align: center;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.box-icon{
  outline: solid 1px #000;
  text-align: center;
  line-height: 5rem;
  font-size: 3rem;
}

.float-left{
  float: left;
}

.item.activated{
  background-color: #1aacc3;
}

.item.selected, .item.selected *{
  background-color: #1aacc3;
  color: #FFF;
}


.avatar{
  width: 150px;
  height: 150px;
  outline: solid 1px #000;
  overflow: hidden;
  margin: 0 auto;
}

.avatar img{
  width: 100%;
}

/*jccanizal styles*/


