<ion-view title="Account">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <form name="accountForm" ng-submit="updateAccount(accountForm.$valid)" novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input name="firstname" type="text" placeholder="John" ng-model="user.firstname"  required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input name="lastname" type="text" placeholder="Suhr" ng-model="user.lastname" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input name="email" type="email" placeholder="john@suhr.com" ng-model="user.email" required>
        </label>
        <div class="error" ng-if="error">
          <span>{{error.message}}</span>
        </div>
        <div class="error" ng-if="accountForm.$invalid">
          <p ng-show="accountForm.firstname.$invalid && !accountForm.firstname.$pristine">Firstname is required.</p>
          <p ng-show="accountForm.lastname.$invalid && !accountForm.lastname.$pristine">Lastname is required.</p>
          <p ng-show="accountForm.email.$invalid && !accountForm.email.$pristine">Enter a valid email address.</p>
        </div>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Update</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
