<div class="modal">
  <ion-header-bar>
    <h1 class="title">New Snap</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSnap()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="snapForm" ng-submit="addSnap(snapForm.$valid)" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Plate</span>
          <input name="plate" type="text" ng-model="snap.plate" required>
        </label>
        <div class="error" ng-if="error">
          <span>{{error.message}}</span>
        </div>
        <div class="error" ng-if="snapForm.$invalid">
          <p ng-show="snapForm.plate.$invalid && !snapForm.plate.$pristine">Plate is required.</p>
        </div>

        <div class='avatar' ng-click="addImage()">
          <img  ng-src="{{snap.image}}" ng-if="snap.image">
          <img  ng-src="images/car.jpg" ng-if="!snap.image">
        </div>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Snap</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>
