<div class="modal">
  <ion-header-bar>
    <h1 class="title">New Vehicle</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeVehicle()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="vehicleForm" id="vehicleForm" ng-submit="addVehicle()" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="vehicle.name" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Plate</span>
          <input type="text" ng-model="vehicle.plate" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>
