<div class="modal">
  <ion-header-bar>
    <h1 class="title">New Vehicle</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeVehicle()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="vehicleForm" id="vehicleForm" ng-submit="addVehicle(vehicleForm)" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input name="name" type="text" ng-model="vehicle.name" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Plate</span>
          <input name="plate" type="text" ng-model="vehicle.plate" required>
        </label>
        <div class="error" ng-if="error">
          <span>{{error.message}}</span>
        </div>
        <div class="error" ng-if="vehicleForm.$invalid">
          <p ng-show="vehicleForm.name.$invalid && !vehicleForm.name.$pristine">Name is required.</p>
          <p ng-show="vehicleForm.plate.$invalid && !vehicleForm.plate.$pristine">Plate is requerid.</p>
        </div>
        <div class='avatar' ng-click="addImage()">
          <img  ng-src="{{vehicle.image}}" ng-if="vehicle.image">
          <img  ng-src="images/car.jpg" ng-if="!vehicle.image">
        </div>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>
