<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" auto-play="true" does-continue="true" >
  <ion-slide>
    <div class="box slider1"></div>
  </ion-slide>
  <ion-slide>
    <div class="box slider2"></div>
  </ion-slide>
  <ion-slide>
    <div class="box slider3"></div>
  </ion-slide>
</ion-slide-box>

<div id="login-actions">
  <span id="title1">Parking</span>
  <span id="title2">Crew</span>

  <div id="login-buttons">
    <a class="button button-block button-opacity button-large" ng-click="openLogin()">Login</a>
    <a class="button button-block button-opacity button-large" ng-click="openRegister()">Register</a>
  </div>
</div>