<ion-view title="Parking" >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1 class='align-center'>$3.00 / hr</h1>

    <div class='row'>
      <div class='col col-25 box-icon' ng-click="minus()">
        <i class="icon ion-minus-round"></i>
      </div>
      <div class='col col-50 box-icon'>
        {{time}} min.
      </div>
      <div class='col col-25 box-icon' ng-click="plus()">
        <i class="icon ion-plus-round"></i>        
      </div>
    </div>
    <ion-scroll direction="x" scrollbar-x="false" delegate-handle="mainScroll">
      <div class="row">
        <div class="col col-90" ng-repeat="vehicle in vehicles">
          <div class="card">
            <div class="item item-avatar">
              <img ng-src="{{vehicle.image._url}}">
              <h2>{{vehicle.name}}</h2>
              <p>{{vehicle.plate}}</p>
            </div>
          </div>
        </div>
        <div class="col col-90" >
          <div class="card" ng-click="openVehicle()">
            <div class="item item-avatar">
              Add Vehicle
            </div>
          </div>
        </div>
      </div>
    </ion-scroll>
    <button class="button button-block button-positive">
      PAY
    </button>


  </ion-content>
</ion-view>
